<%- include('../layouts/adminHeader') %>

<section class="vh-100">
  <div class="container py-5 h-75">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-6 col-lg-6 col-xl-6 offset-xl-1">
        <form action="/admin/products/add" method="post" id="productAddForm" onsubmit="return validateProductForm()" enctype="multipart/form-data">
          <h1 class="pb-3 font-weight-bold">Add Product</h1>

          <div class="form-outline mb-4">
            <input type="text" id="name" name="name" class="form-control form-control-lg border-dark" placeholder="Product Name" />
            <div class="mt-2 text-danger" id="nameErr"></div>
          </div>

          <div class="form-outline mb-4">
            <input type="number" id="price" name="price" pattern=".{1,6}" class="form-control form-control-lg border-dark" placeholder="Price" />
            <div class="mt-2 text-danger" id="priceErr"></div>
          </div>

          <div class="form-outline mb-4">
            <textarea type="text" rows="6" id="description" name="description" class="form-control form-control-lg border-dark" placeholder="Description"></textarea>
            <div class="mt-2 text-danger" id="descErr"></div>
          </div>

          <div class="form-outline mb-4">
            <input type="number" id="stock" name="stock" class="form-control form-control-lg border-dark" placeholder="stock" />
            <div class="mt-2 text-danger" id="stockErr"></div>
          </div>

          <div class="form-outline mb-4">
            <select name="category" class="form-control form-control-lg border-dark" id="cars">
              <option>choose the category</option>
              <% categories.forEach(function(category) { %>
              <option value="<%= category._id %>"><%= category.categoryName %></option>
              <% }); %>
            </select>
            <div class="mt-2 text-danger" id="categoryErr"></div>
          </div>

          <div class="form-outline mb-4">
            <input type="text" id="bgColor" name="bgColor" class="form-control form-control-lg border-dark" placeholder="background color" />
            <div class="mt-2 text-danger" id="bgColorErr"></div>
          </div>

          <!-- <div class="form-outline mb-4">
            <input type="number" id="offer" name="offer"  class="form-control form-control-lg border-dark" placeholder="Offer Percentage 0-100 (in %)"  />
             <div class="mt-2 text-danger" id="offerErr"></div>
          </div> -->

          <div class="form-group mb-2">
            <h5><label for="checkbox">trending:</label>
              <input type="checkbox" id="checkbox" value="true" name="trending">
            </h5>
          </div>

          <div class="form-outline mb-4">
            <input type="file" class="form-control form-control-lg border-dark" name="image1" id="formFile1" accept="image/*"  style="width: 100%; box-sizing: border-box;">
            <div class="mt-2 text-danger" id="image1Err"></div>
          </div>

          <div class="form-outline mb-4">
            <input type="file" class="form-control form-control-lg border-dark" name="image2" id="formFile2" accept="image/*"  style="width: 100%; box-sizing: border-box;">
            <div class="mt-2 text-danger" id="image2Err"></div>
          </div>


          <div class="d-flex justify-content-around align-items-center mb-3">
            <h6 class="labels">Want to go back <a href="/admin/products"> click here</a></h6>
          </div>
          <% if (locals.message) { %>
          <h5 class="text-danger text-center "><%= message %></h5>
          <% } %>
          <button type="submit" class="btn btn-blue btn-lg btn-block w-100 border-dark mb-5">Add
            Product</button>
        </form>
      </div>
    </div>
  </div>
</section>

<%- include('../layouts/footer') %>
<script>
  const productAddForm = document.getElementById('productAddForm');

  productAddForm.addEventListener('submit', function(event) {

    event.preventDefault();

    const isValid = validateProductForm();

    if (!isValid) {
      return false;
    }
    productAddForm.submit();
  });

