<%- include('../layouts/adminHeader') %>

<link rel="stylesheet" href="../../stylesheets/style.css">
<section class="vh-100">

  <div class="container h-100">
    <div class="row d-flex align-items-center justify-content-center h-50">
      <div class="col-md-9 col-lg-7 col-xl-6">

        <table class="table">
          <h1 class="pb-3 reg-head">Categories</h1>
          <thead>
            <tr>
              <th scope="col">SI no</th>
              <th scope="col">category</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% categories.forEach((category, index) => { %>
            <tr>
              <th scope="row"><%= index + 1 %></th>
              <td class="ovf-limiter"><%= category.categoryName %></td>
              <td>
                <a href="/admin/category/edit?id=<%= category._id %>" class="btn btn-blue">Edit</a>
                <%if(category.active){  %>
                <a href="/admin/category/delete?id=<%= category._id %>" class="btn btn-red">Deactivate</a>
                <%}else{ %>
                <a href="/admin/category/active?id=<%= category._id %>" class="btn btn-green">activate</a>
                <%} %>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>

      <div class="col-md-6 col-lg-mb-3 col-xl-4 offset-xl-1">
        <h1 class="pb-3 font-weight-bold">Add category</h1>
        <% if (locals.editCategory) { %>

        <form action="/admin/category/update" method="post">
          <div class="form-outline mb-3">
            <input type="text" name="categoryUpdate" value="<%= editCategory %>" id="categoryUpdate" class="form-control form-control-lg border-dark " placeholder="Update Category" required />
          </div>
          
          <button type="submit" class="btn btn-green btn-lg btn-block w-100 border-dark mb-3">Update</button>
          <% if (locals.message) { %>
          <h5 class="text-danger text-center"><%= message %></h5>
          <% }  %>
        </form>
        <% } else { %>
        <form action="/admin/category" method="post">
          <div class="form-outline mb-2">
            <input type="text" name="category" id="category" class="form-control form-control-lg border-dark" placeholder="Add category" />
          </div>
          <button type="submit" class="btn btn-warning btn-lg btn-block w-100 border-dark mb-3">Add+</button>
          <% if (locals.message) { %>
          <h5 class="text-danger text-center"><%= message %></h5>
          <% }  %>
        </form>
        <% } %>
      </div>
    </div>
  </div>
</section>
<%- include('../layouts/footer') %>
<script>
  window.onload = function() {
    const msg = document.getElementById("message");
    if (msg.innerHTML !== "") {
      setTimeout(function() {
        msg.style.display = "none";
      }, 2000); // 3000 milliseconds = 3 seconds
    }
  };
</script>