<%- include('../layouts/adminHeader') %>

<section class="h-100 h-custom" >
  <div class="container py-5 h-100" >
    <div class="row d-flex justify-content-center align-items-center h-100" >
      <div class="col-12 border-0 mt-5" >
        <div class="card card-registration card-registration-2 border-0">
          <div class="card-body p-0" style="background-color: #FEFFE0;">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="mb-0 text-black">Coupons</h1>
                    <% if(locals.message){ %>
                    <h5 class="text-success text-center " id="message"><%= message %></h5>
                    <% }%>
                    <h5 class="text-success text-cent
                    <h6 class="mb-0 text-muted"><%= coupon.length %> Coupons</h6>
                  </div>

                  <div class="row mb-4 d-flex justify-content-between align-items-center table-responsive">
                    <table id="myTable" class="table table-striped" style="width:100%">
                      <thead>
                        <tr>
                          <th>Sl No</th>
                          <th>Coupon Code</th>
                          <th>Coupon Value</th>
                          <th>Min bill</th>
                          <th>Max Amount</th>
                          <th>Coupon Expiry</th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% coupon.forEach(function(coupon, index) { %>
                        <tr>
                          <td><%= index + 1 %></td>
                          <td class="ovf-limiter"><%= coupon.code %></td>
                          <td class="ovf-limiter"><%= coupon.value %></td>
                          <td class="ovf-limiter"><%= coupon.minBill %></td>
                          <td class="ovf-limiter"><%= coupon.maxAmount %></td>
                          <td><%= formatDate(coupon.expiryDate) %></td>
                          <% if (coupon.Status==="Active") { %>
                          <td class="text-success"><%= coupon.Status %></td>
                          <% } else { %>
                          <td class="text-danger"><%= coupon.Status %></td>
                          <% } %>
                          <td>
                            <a href="/admin/coupon/edit?id=<%= coupon._id %>" class="btn btn-blue">Edit</a>
                            <% if (coupon.Status==="Active") { %>
                            <a href="/admin/coupon/Deactivate?id=<%= coupon._id %>" class="btn btn-red">Deactivate</a>
                            <% }else{ %>
                            <a href="/admin/coupon/Activate?id=<%= coupon._id %>" class="btn btn-green">Activate</a>
                            <% }%>
                          </td>
                        </tr>
                        <% }); %>
                      </tbody>
                    </table>
                  </div>

                  <hr class="my-4">
                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h1 class="mb-5 mt-2 pt-1">Add Coupon</h1>
                  <div class="mb-3">
                    <div class="form-outline">
                      <% if (locals.couponEdit) { %>
                      <form action="/admin/coupon/update?id=<%= couponEdit._id %>" method="post">
                        <input name="couponCode" value="<%= couponEdit.code %>" style="border: 1px solid black" type="text" id="form3Examplea2" class="form-control form-control-lg mt-0" required />
                        <input name="couponValue" value="<%= couponEdit.value %>" style="border: 1px solid black" type="number" min="1" max="100" id="form3Examplea2" class="form-control form-control-lg mt-3" required />
                        <input name="minBill" value="<%= couponEdit.minBill %>" style="border: 1px solid black" type="number" min="500" id="form3Examplea2" class="form-control form-control-lg mt-3" required />
                        <input name="maxAmount" value="<%= couponEdit.maxAmount %>" style="border: 1px solid black" type="number" min="500"  id="form3Examplea2" class="form-control form-control-lg mt-3" required />
                        <label class="mt-3 mb-1 text-success"><%= formatDate(couponEdit.expiryDate) %></label>
                        <input name="couponExpiry" style="border: 1px solid black" type="date" id="form3Examplea2" class="form-control form-control-lg  mb-3" required />
                        <div class="form-outline " style="text-align: center">
                          <button type="submit" class="btn btn-warning btn-lg btn-block w-100 border-dark">Update</button>
                        </div>
                      </form>
                      <% } else { %>
                      <form action="/admin/coupons/add" method="post">
                        <input name="couponCode" style="border: 1px solid black" placeholder="coupon code" type="text" id="form3Examplea2" class="form-control form-control-lg" />
                        <input name="couponValue" style="border: 1px solid black" placeholder="coupon value(%)" type="number" id="form3Examplea2" class="form-control form-control-lg mt-3" min="1" max="100" />
                        <input name="minBill" style="border: 1px solid black" type="number" placeholder="min Bill" id="form3Examplea2" class="form-control form-control-lg mt-3" min="500" />
                        <input name="maxAmount" style="border: 1px solid black" type="number" placeholder="max Amount" id="form3Examplea2" class="form-control form-control-lg mt-3" min="500" />
                        <input name="couponExpiry" style="border: 1px solid black" type="date" placeholder="expiry date" id="form3Examplea2" class="form-control form-control-lg mt-3 mb-3" />
                        <div class="form-outline " style="text-align: center">
                          <h5 class="text-danger text-center "><%= errorMessage %></h5>
                          <button type="submit" class="btn btn-blue btn-lg btn-block w-100 border-dark">Add+</button>
                        </div>
                      </form>
                      <% } %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  $(document).ready(function() {
    $('#myTable').DataTable({
      "pageLength": 5
    });
  });
</script>
<script>
  window.onload = function() {
    const msg = document.getElementById("message");
    if (msg.innerHTML !== "") {
      setTimeout(function() {
        msg.style.display = "none";
      }, 2000); // 3000 milliseconds = 3 seconds
    }
  };
</script>


<%- include('../layouts/footer') %>