<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="https://i.postimg.cc/L59GX6ZK/white.png" type="image/x-icon">
  <title>
    Sole-Seeker
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light text-dark">
    <div class="container-fluid">
      <div class="logo-user">
        <a class="navbar-brand text-white mx-4" href="/user">
          <img src="https://i.postimg.cc/3xKssdyR/logo-test-big.png" style="max-width:10rem">
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse admin-nav" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link text-uppercase text-light ms-lg-5 me-5 nav-link-custom" href="/user">Home</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-uppercase text-light me-5 nav-link-custom" href="/displayCategory?id=All">Shop</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link text-uppercase text-light me-5 nav-link-custom" href="/why">why Us</a>
          </li>
          <li class="nav-item d-lg-none">
            <a class="nav-link text-uppercase text-light me-5 " href="/profile">profile</a>
          </li>
          <li class="nav-item d-lg-none">
            <a class="nav-link text-uppercase text-light me-5 " href="/cart?id=<%= userData._id %>">cart</a>
          </li>
          <li class="nav-item d-lg-none">
            <a class="nav-link text-uppercase text-light me-5 " href="/wishlist?id=<%= userData._id %>">Whishlist</a>
          </li>
          
        </ul>
        <!-- ============================================================ -->
        <div class="user_option d-flex gap-1 align-items-center d-none d-lg-inline">
          <a href="/profile" class="btn btn-dark  ">
            <i class="fa fa-user fa-lg " id="profile-icon" aria-hidden="true"></i>
            <span class="fs-4"><%= userData.name %></span>
          </a>

          <a href="/cart?id=<%= userData._id %>" class="nav-icon-link ms-5 position-relative">
            <i class="fa fa-shopping-bag fa-lg " id="shopping-bag" aria-hidden="true"></i>
            <span class="badge badge-pill badge-danger position-absolute top-0 start-100 translate-middle text-bg-warning" id="cartLength"><%= userData.cart.length %></span>
          </a>

         
          <a href="/wishlist?id=<%= userData._id %>" class="nav-icon-link ms-3 me-5 position-relative">
            <i class="fa-solid fa-heart fa-lg text-danger " id="heart-list" area-hidden="true"></i>
            <span class="badge badge-pill badge-danger position-absolute top-0 start-100 translate-middle text-bg-warning" id="wishlistLength"><%= userData.wishList.length %></span>
          </a>
          

        </div>




        <!-- ============================================================== -->


        <form class="form-inline mx-2 d-none d-lg-inline ms-5 " action="/search">
          <div class="input-group ">
            <input type="text" class="form-control " name="search" placeholder="Search" style="background-color: rgb(243, 252, 253); ">
            <div class="input-group-append">
              <button class="btn border-1 border-light border-left-0 rounded-0 rounded-end " type="submit">
                <i class="fa fa-search text-light " aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </form>


        <!-- Button trigger modal -->
        <button type="button" class="btn btn-red logout-btn ms-4" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Logout
        </button>
      </div>
    </div>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header ">
            <h5 class="modal-title " id="staticBackdropLabel">Logout</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to Logout?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a href="/logout"><button type="button" class="btn btn-danger">Logout</button></a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</body>




