<%- include('../layouts/header') %>

<% if (typeof userData !== 'undefined') { %>
<%- include('../layouts/userHeaderLogged') %>
<% } else { %>
<%- include('../layouts/userHeader') %>
<% } %>


<section class="shop_section layout_padding">
  <div class="heading_container">
    <h2>
      Products
    </h2>
  </div>
  <div class="row">
    <% products.forEach(function(product) { %>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="box shadow-lg" style="background-color: <%= product.bgColor %>">

        <a>
          <button onclick="wishlistClick('<%= product._id %>')" class="btn position-absolute start-75 end-0 bg-light rounded-circle mt-1 me-1 shadow" style="color:brown">
            <i class="fa-solid fa-heart" area-hidden="true"></i>
          </button>
        </a>
        <a href="/productView?id=<%= product._id %>">
          <div class="img-box">
            <img src="/images/<%= product.img1 %>" alt="">
          </div>
          <% if (product.__v === 0) { %>
          <div class="new">
            <span>
              new
            </span>
          </div>
          <% } %>
          <% if (product.offer !== 0) { %>
          <div class="new2">
            <span>
              <%= product.offer %>% off
            </span>
          </div>
          <% } %>
        </a>
      </div>
      <div class="mt-2 detail-box">
        <h6>
          <%= product.productName %>
        </h6>
        <h6 style="font-size:1rem">
          Price
          <span>
            ₹<%= product.price %>
          </span>
        </h6>
        <div class="btn-box d-flex flex-row">
          <a href="/productView?id=<%= product._id %>" class="btn shadow-sm">
            Explore
          </a>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</section>





<%-include('../layouts/footer')%>