<%- include('../layouts/header') %>

<% if (typeof userData !== 'undefined') { %>
<%- include('../layouts/userHeaderLogged') %>
<% } else { %>
<%- include('../layouts/userHeader') %>
<% } %>
<div class=" container-fluid my-5 ">
  <div class="row justify-content-center ">
    <div class="col-xl-10">
      <div class="card shadow-lg ">
        <div class="row p-2 mt-3 justify-content-between mx-sm-2">
        </div>

        <div class="row justify-content-around">
          <div class="col-md-5">
            <div class="card border-0">
              <div class="card-header pb-0">
                <h2 class="card-title space">Payment Option</h2>
                <hr class="my-0 mt-4">

                <div class="">
                  <p class="card-text text-muted mt-5 mb-2  space">HAVE A COUPON CODE?</p>
                </div>
                <h5 class="text-uppercase mb-2  mt-4">Give code</h5>

                <div class="mb-5">
                  <div class="form-outline">
                    <div class="mb-2" style="display : flex; gap: 2px;">
                      <input style="border: 1px solid black;" name="coupon" placeholder="enter your code" type="text" id="form3Examplea2" class="form-control form-control-lg" />
                      <button type="submit" class="btn btn-warning ms-2 border-dark" onclick="couponApply('<%=cart._id%>','<%=totalBill%>')">Apply</button>
                    </div>

                    <span style="color: green;" id="validation2"><b></b></span>



                    <span style="color: red;" id="validation"><b></b></span>

                  </div>
                </div>
                <div class="">
                  <p class="card-text text-muted mt-4 mb-2  space">SELECT PAYMENT OPTION</p>
                </div>

                <form id="checkout-form">
                  <div class="form-check">
                    <input class="form-check-input mt-5 mx-3 js-radioInput" type="radio" name="radio" value="razorpay" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                      <img class="" src="https://i.postimg.cc/5yBhp9c5/Razorpay-payments-removebg-preview.png" alt="Online Payment" height="100" width="200">
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-5 mx-3 js-radioInput" type="radio" name="radio" value="COD" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                      <img src="http://cdn.onlinewebfonts.com/svg/img_462168.png" alt="Cash On Delivery" height="70" width="180">
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-5 mx-3 js-radioInput" id="walletRadio" type="radio" name="radio" value="wallet" id="walletRadio" <%= (userData.wallet >= totalBill) ? '' : 'disabled' %>>
                    <label class="form-check-label" for="flexRadioDefault3">
                      <div class="d-flex align-items-center"><img src="https://i.postimg.cc/ncmsGKRh/wallet-line-icon-e-commerce-and-marketing-vector-20266122-removebg-preview.png" alt="Wallet payment" height="70" width="180">
                        <h4> wallet balance: <span id="walletBalance"><%= userData.wallet %></span></h4>

                      </div>

                    </label>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-md-5 mt-4">
            <div class="card border-0 ">
              <div class="card-header card-2">
                <p class="card-text text-muted mt-md-4 space">ORDER SUMMARY </p>
                <hr class="my-2">
              </div>

              <div class="card-body pt-5">

                <% cart.forEach(function(item) { %>
                <div class="row  justify-content-between">
                  <div class="col-auto col-md-7">
                    <div class="media flex-column flex-sm-row ">
                      <img class=" img-fluid " src="/images/<%= item.prod_id.img1 %>" width="62" height="62">
                      <div class="media-body  my-auto">
                        <div class="row ">
                          <div class="col-auto">
                            <h6 class="mb-0"><b><%= item.prod_id.productName %></b></h6>
                            <small class="text-muted"><%= item.prod_id.category.category %></small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class=" pl-0 flex-sm-col col-auto  my-auto">
                    <h6 class=""><%= item.qty %> </h6>
                  </div>
                  <div class=" pl-0 flex-sm-col col-auto  my-auto ">
                    <h6><b>₹ <%= item.total_price %></b></h6>
                  </div>
                </div>
                <hr class="my-2">
                <% }); %>

                <div class="row mt-5">
                  <div class="col">
                    <div class="row justify-content-between">
                      <div class="col-4">
                        <h6 class="mb-3"><b>Subtotal</b></h6>
                      </div>
                      <div class="flex-sm-col col-auto">
                        <h6 class="mb-3"><b>₹ <%= totalBill %></b></h6>
                      </div>
                    </div>
                    <div class="row justify-content-between">
                      <div class="col-4">
                        <h6 class="mb-3 labe"><b id="couponDiscount"></b></h6>
                      </div>
                      <div class="col-6">
                        <h6 class="mb-3" id="couponCode" style="color : green"></h6>
                      </div>
                      <div class="flex-sm-col col-auto">
                        <h6 style=" color : red" class="mb-3"><b id="couponValue"></b></h6>
                      </div>
                    </div>
                    <div class="row justify-content-between">
                      <div class="col">
                        <h6 class="mb-3"><b>Shipping</b></h6>
                      </div>
                      <div class="flex-sm-col col-auto">
                        <h6 class="mb-3" style="color: green"><b>Free</b></h6>
                      </div>
                    </div>
                    <hr class="my-0">
                    <div class="row justify-content-between">
                      <div class="col-3">
                        <h6 class="mb-3"></h6>
                      </div>
                    </div>
                    <div class="row justify-content-between">
                      <div class="col-4">
                        <h6><b>Total</b></h6>
                      </div>
                      <div class="flex-sm-col col-auto">
                        <h6 class="mb-3"><b id="totalBill2">₹ <%= totalBill %> </b></h6>
                      </div>
                      <input type="hidden" name="orderBill" id="totalBillInput" value="<%= totalBill %>">
                    </div>
                    <hr class="my-0">
                  </div>
                </div>
                <% if(locals.keyId){%>
                <input type="hidden" id="keyId" value="<%= keyId %>">
                <% }%>
                <div class="row mb-5 mt-4 ">
                  <div class="col-md-7 col-lg-6 p-2"><button id="my_button" type="submit" disabled="disabled" class="btn btn-block btn-success btn-lg border-dark" style="width: 100%;  border-radius:30px;">Confirm
                      Order</button></div>
                </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%-include('../layouts/footer')%>

<script>

  function updateWalletRadio() {
    console.log("wallerRefresh");
    const walletRadio = document.getElementById('walletRadio');
    const walletBalanceElement = document.getElementById('walletBalance');
    const walletBalanceValue = parseFloat(walletBalanceElement.textContent);
    const totalBillElement = document.getElementById('totalBill2');
    console.log(walletRadio);
    console.log(totalBillElement);
    const updatedTotalBill = parseFloat(totalBillElement.textContent.replace('₹', '').trim());
console.log(updatedTotalBill);
    if (walletBalanceValue >= updatedTotalBill) {
      walletRadio.disabled = false;
      console.log("1");
    } else {
      walletRadio.disabled = true;
      console.log("2");
    }
  }

  // Listen for changes in the total price (you need to call this whenever the total price changes)
 
</script>








<script>
  function couponApply(id1, bill1) {
    let coupon = document.getElementById("form3Examplea2").value;
    // const id = id1
    const bill = bill1
    console.log("bill", bill)
    // console.log("id",id)
    console.log("coupon", coupon);

    if (coupon == "") {
      document.getElementById("validation2").innerHTML = ""
      document.getElementById("validation").innerHTML = "Please enter a coupon code";
    } else {
      document.getElementById("validation2").innerHTML = ""
      document.getElementById("validation").innerHTML = "";
      fetch("/applyCoupon", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            coupon: coupon,
            bill: bill,

          })
        })

        .then(respo => {
          return respo.json();
        })
        .then(response => {
          if (response.code == coupon.toUpperCase()) {
            if (response.Status == "Active") {
              if (response.minBill > bill) {
                document.getElementById("validation2").innerHTML = "";
                document.getElementById("validation").innerHTML = "Minimum Bill Required is ₹ " + response.minBill;
                document.getElementById("couponCode").innerHTML = "";
                document.getElementById("couponDiscount").innerHTML = "";
                document.getElementById("couponValue").innerHTML = "";
                document.getElementById("totalBill2").innerHTML = "₹ " + bill;
              } else if (response.maxAmount > (bill * response.value / 100)) {
                document.getElementById("validation").innerHTML = "";
                document.getElementById("couponCode").innerHTML = coupon;
                document.getElementById("couponDiscount").innerHTML = "Coupon Discount";
                document.getElementById("couponValue").innerHTML = response.value + "%";
                document.getElementById("totalBill2").innerHTML = "₹ " + (bill - (bill * response.value / 100));
                document.getElementById("validation2").innerHTML = coupon + "-Coupon Added Successfully";
              } else {
                document.getElementById("validation").innerHTML = "";
                document.getElementById("couponCode").innerHTML = coupon;
                document.getElementById("couponDiscount").innerHTML = "Coupon Discount";
                document.getElementById("couponValue").innerHTML = response.value + "%";
                document.getElementById("totalBill2").innerHTML = "₹ " + (bill - response.maxAmount);
                document.getElementById("validation2").innerHTML = coupon + "-Coupon Added Successfully";
              }
            } else {
              document.getElementById("validation2").innerHTML = "";
              document.getElementById("validation").innerHTML = "Coupon Expired";
              document.getElementById("couponCode").innerHTML = "";
              document.getElementById("couponDiscount").innerHTML = "";
              document.getElementById("couponValue").innerHTML = "";
              document.getElementById("totalBill2").innerHTML = "₹ " + bill;

            }
          } else {
            document.getElementById("validation2").innerHTML = "";
            document.getElementById("validation").innerHTML = "Coupon not found,try again";
            document.getElementById("couponCode").innerHTML = "";
            document.getElementById("couponDiscount").innerHTML = "";
            document.getElementById("couponValue").innerHTML = "";
            document.getElementById("totalBill2").innerHTML = "₹ " + bill;



          }
          updateWalletRadio();
        }
          
        )

        .catch(error => {
          console.log(error);
        });
    }

  }
</script>


<script>
  let inputElems = document.getElementsByClassName("js-radioInput");
  for (let i = inputElems.length - 1; i >= 0; --i) {
    let elem = inputElems[i];
    elem.onchange = function() {
      document.getElementById("my_button").removeAttribute("disabled");
    };
  }




  $("#checkout-form").submit((e) => {
    e.preventDefault()
    $.ajax({
      url: '/cart/checkout/paymentMode',
      method: 'post',
      data: $('#checkout-form').serialize(),
      success: (response) => {
        if (response.codSuccess) {
          console.log("COD working")
          location.replace('/orderRedirect')
        } else if (response.walletSuccess) {
          console.log("wallet payment working")
          location.replace('/orderRedirect')
        }
         else if (response.razorpay) {
          console.log("razorpay working")
          razorpay(response.order, response.bill)
        }
      }
    })
  })
</script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
  function razorpay(order, bill) {
    console.log("razorpay function started");
    let keyId = document.getElementById("keyId").value
    console.log(keyId);
    let options = {
      "key": keyId, // Enter the Key ID generated from the Dashboard
      "amount": bill * 100, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
      "currency": "INR",
      "name": "Sole Seeker",
      "description": "Buy  Shoes",
      "image": "https://i.postimg.cc/c4kMF3G8/Image-Editor-1.png",
      "handler": function(response) {
        RazoverifyPayment(response, order)
      },
      "prefill": {
        "name": "Sole Seeker",
        "email": "soleseeker12345",
        "contact": "+91 7012056612"
      },
      "notes": {
        "address": "Sole-Seeker,HustleHub Techpark,Somasundara palaya,Hsr Layout,Bangalore, Karnataka, India"
      },
      "theme": {
        "color": "#feffe0"
      }
    }
    console.log("heloo");
    let rzp1 = new Razorpay(options);
    console.log("heloo" + rzp1);
    rzp1.open();
  }

  function RazoverifyPayment(payment, order) {
    console.log("razorpayverify");
    location.replace('/orderRedirect')

    $.ajax({
      url: '/userhome/razo-verify-payment',
      data: {
        payment,
        order
      },
      method: 'post',
      success: (response) => {
        if (response.status) {
          console.log("succes")
          location.href = '/orderSuccess'
        } else {
          // need to render payment faild page
          location.href = '/orderFailed'
        }
      }
    })
  }
</script>

