<%- include('../layouts/header') %>

<% if (typeof userData !== 'undefined') { %>
<%- include('../layouts/userHeaderLogged') %>
<% } else { %>
<%- include('../layouts/userHeader') %>
<% } %>

<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-12">
      <div class="card border-0 product-view-card col-12" style="background-color: #FEFFE0;">
        <div class="row">
          <div class="col-md-6">
            <div class="images">
              <div class="text-center col-12 zoom-image" data-image="./image/<%= product.img1 %>">
                <img class="col-12" id="main-image" src="/images/<%= product.img1 %>" width="520" style="background-color:<%= product.bgColor %>;border-radius:30px;" />
              </div>

              <div class="thumbnail p-4">
                <img onclick="change_image(this)" src="/images/<%= product.img1 %>" width="100" style="background-color:<%= product.bgColor %>;border-radius:21px;">
                <img onclick="change_image(this)" src="/images/<%= product.img2 %>" width="100" style="background-color:<%= product.bgColor %>;border-radius:30px;">
              </div>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="product p-4" style="font-weight:800">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center"><a href="/user" style="text-decoration: none; color: #6a6c6d;"><i class="fa fa-long-arrow-left"></i> <span class="ml-1">Back</span></a></div>
                <a href="/cart"> <i class="fa fa-shopping-bag" aria-hidden="true"></i></a>

              </div>
              <div class="mt-4 mb-3"> <span class="text-uppercase text-muted brand">
                  <%= product.category.category %>
                </span>
                <h5 class="text-uppercase mb-5" style="font-size: 35px; font-weight:">
                  <%= product.productName %>
                </h5>
                <div class="price d-flex flex-row align-items-center"> <span class="text-danger act-price" style="margin-right: 10px">
                    ₹<%= product.price %>/- per pair

                  </span>
                  <% if (product.offer !== 0) { %>
                  <%= product.offer %>% off
                  <% } %>
                  <span class="p-1">
                    <a> <button onclick="wishlistClick('<%= product._id %>')" class="btn border-0" style="color:red">
                        <h3><i class="fa-solid fa-heart p-1" area-hidden="true"></i></h3>
                      </button>
                    </a>

                  </span>
                </div>
              </div>
              <p class="about">
                <%= product.description %>
              </p>
              <% if (product.stock === 0) { %>
              <h5 class="text-danger  mt-5 fw-bold">out of stock</h5>
              <% } %>

              <% if (product.stock !== 0) { %>
              <label id="size<%= product._id %>"> <span class="text-danger">Size</span></label>
              <input type="number" name="size" min="1" max="10" id="size" placeholder="Enter size" style="max-width:10em;" class="form-control mb-3 border-dark">
              <p class="text-danger" id="alertmsg<%= product._id %>"></p>

              <a><button onclick="addToCart('<%= product._id %>','<%= product.stock %>')" class="btn btn-outline-dark bg-dark text-light mb-5 p-3" style="width: 100%; margin-top: 3vw; border-radius:50px;max-width:20em;">Add to
                  cart</button></a>
              <% } %>

              <!-- <input type="hidden" id="cartLength2" value=" cart.length "> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<%-include('../layouts/footer')%>